<!doctype html>
<html>
  <head>

    <meta charset="utf-8"/>
    <title>Bienvenidos a Flores del Paraiso</title>
    <meta name="viewport" content="initial-scale=1.0, user-scalable=no"/>

    <style>
    body {
     background-image: url("Assets/img/background.jpg");
     background-size:  cover;
     background-position: center;
    }
    .logo {
      max-width: 500px;
      width: 100%;
      position: relative;
      margin: 100px auto;
    }

    .logo img{
      width: 100%;
    }

    </style>

  </head>
  <body>
    <div class="logo">
      <img src="Assets/img/logo-background.png">
    </div>
  </body>
</html>
